@use "@styles/space";
@use "@styles/breakpoint";

.container {
  width: 100%;
  height: 300px;
  display: flex;

  @media (min-width: breakpoint.$desktop) {
    height: 558px;
  }
}

.loader {
  width: space.$s16;
  height: space.$s16;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
