.row:nth-child(2n) {
  background: var(--color-gray-50);
}

.cell {
  padding: var(--space-4) var(--space-6);
  color: var(--color-gray-500);
  font: var(--font-text-sm-regular);
}

.issueCell {
  composes: cell;
  display: flex;
  align-items: center;
}

.languageIcon {
  width: var(--space-10);
  margin-right: var(--space-3);
}

.errorTypeAndMessage {
  color: var(--color-gray-900);
}

.errorType {
  font: var(--font-text-sm-medium);
}
