@use "@styles/color";
@use "@styles/font";
@use "@styles/space";

.container {
  width: fit-content;
  display: flex;
  align-items: center;
  border-radius: space.$s4;

  &.sm {
    padding: space.$s0 space.$s2;
    height: 1.375rem;
    font: font.$text-xs-medium;
  }

  &.md {
    padding: 0 0.625rem;
    height: 1.5rem;
    font: font.$text-sm-medium;
  }

  &.lg {
    padding: space.$s0 space.$s3;
    height: 1.75rem;
    font: font.$text-sm-medium;
  }

  &.gray {
    background: color.$gray-100;
    color: color.$gray-700;
  }

  &.primary {
    background: color.$primary-50;
    color: color.$primary-700;
  }

  &.error {
    background: color.$error-50;
    color: color.$error-700;
  }

  &.warning {
    background: color.$warning-50;
    color: color.$warning-700;
  }

  &.success {
    background: color.$success-50;
    color: color.$success-700;
  }
}
