.container {
  display: flex;
  flex-direction: column;
  background: var(--color-gray-900);
}

.containerDesktop {
  flex-direction: row;
}

.main {
  flex: 1;
}

.contentContainer {
  min-height: calc(100vh - 2 * var(--space-8) - var(--header-height));
  margin-top: var(--header-height);
  padding: var(--space-8) var(--space-3);
  background: white;
}

.contentContainerDesktop {
  min-height: calc(100vh - var(--space-3) - 2 * var(--space-8));
  margin-top: var(--space-3);
  padding: var(--space-8);
  border-top-left-radius: var(--space-10);
}

.title {
  margin: var(--space-0) 0 var(--space-1);
  color: var(--color-gray-900);
  font: var(--font-display-sm-medium);
}

.info {
  margin-bottom: var(--space-8);
  color: var(--color-gray-500);
  font: var(--font-text-sm-regular);
}
