/* Text */
$text-xs-regular:
  400 0.75rem/1.125rem Inter,
  Sans-Serif;
$text-xs-medium:
  500 0.75rem/1.125rem Inter,
  Sans-Serif;
$text-xs-semibold:
  600 0.75rem/1.125rem Inter,
  Sans-Serif;

$text-sm-regular:
  400 0.875rem/1.25rem Inter,
  Sans-Serif;
$text-sm-medium:
  500 0.875rem/1.25rem Inter,
  Sans-Serif;
$text-sm-semibold:
  600 0.875rem/1.25rem Inter,
  Sans-Serif;

$text-md-regular:
  400 1rem/1.5rem Inter,
  Sans-Serif;
$text-md-medium:
  500 1rem/1.5rem Inter,
  Sans-Serif;
$text-md-semibold:
  600 1rem/1.5rem Inter,
  Sans-Serif;

/* Display */
$display-sm-regular:
  400 1.875rem/2.375rem Inter,
  Sans-Serif;
$display-sm-medium:
  500 1.875rem/2.375rem Inter,
  Sans-Serif;
$display-sm-semibold:
  600 1.875rem/2.375rem Inter,
  Sans-Serif;

$display-md-regular:
  400 2.25rem/2.75rem Inter,
  Sans-Serif;
$display-md-medium:
  500 2.25rem/2.75rem Inter,
  Sans-Serif;
$display-md-semibold:
  600 2.25rem/2.75rem Inter,
  Sans-Serif;
