/* stylelint-disable scss/dollar-variable-colon-space-after */
/* stylelint-disable scss/operator-no-unspaced */

/* Text */
$text-xs-regular:
  400 0.75rem/1.125rem inter,
  sans-serif;
$text-xs-medium:
  500 0.75rem/1.125rem inter,
  sans-serif;
$text-xs-semibold:
  600 0.75rem/1.125rem inter,
  sans-serif;
$text-sm-regular:
  400 0.875rem/1.25rem inter,
  sans-serif;
$text-sm-medium:
  500 0.875rem/1.25rem inter,
  sans-serif;
$text-sm-semibold:
  600 0.875rem/1.25rem inter,
  sans-serif;
$text-md-regular:
  400 1rem/1.5rem inter,
  sans-serif;
$text-md-medium:
  500 1rem/1.5rem inter,
  sans-serif;
$text-md-semibold:
  600 1rem/1.5rem inter,
  sans-serif;

/* Display */
$display-sm-regular:
  400 1.875rem/2.375rem inter,
  sans-serif;
$display-sm-medium:
  500 1.875rem/2.375rem inter,
  sans-serif;
$display-sm-semibold:
  600 1.875rem/2.375rem inter,
  sans-serif;
$display-md-regular:
  400 2.25rem/2.75rem inter,
  sans-serif;
$display-md-medium:
  500 2.25rem/2.75rem inter,
  sans-serif;
$display-md-semibold:
  600 2.25rem/2.75rem inter,
  sans-serif;
