:root {
  /* Colors */

  /* Grays */
  --color-gray-25: #fcfcfd;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f2f4f7;
  --color-gray-200: #e4e7ec;
  --color-gray-300: #d0d5dd;
  --color-gray-400: #98a2b3;
  --color-gray-500: #667085;
  --color-gray-600: #475467;
  --color-gray-700: #344054;
  --color-gray-800: #1d2939;
  --color-gray-900: #101828;

  /* Primary */
  --color-primary-25: #fcfaff;
  --color-primary-50: #f9f5ff;
  --color-primary-100: #f4ebff;
  --color-primary-200: #e9d7fe;
  --color-primary-300: #d6bbfb;
  --color-primary-400: #b692f6;
  --color-primary-500: #9e77ed;
  --color-primary-600: #7f56d9;
  --color-primary-700: #6941c6;
  --color-primary-800: #53389e;
  --color-primary-900: #42307d;

  /* Error */
  --color-error-25: #fffbfa;
  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-200: #fecdca;
  --color-error-300: #fda29b;
  --color-error-400: #f97066;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;
  --color-error-800: #912018;
  --color-error-900: #7a271a;

  /* Warning */
  --color-warning-25: #fffcf5;
  --color-warning-50: #fffaeb;
  --color-warning-100: #fef0c7;
  --color-warning-200: #fedf89;
  --color-warning-300: #fec84b;
  --color-warning-400: #fdb022;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
  --color-warning-700: #b54708;
  --color-warning-800: #93370d;
  --color-warning-900: #7a2e0e;

  /* Success */
  --color-success-25: #f6fef9;
  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-200: #a6f4c5;
  --color-success-300: #6ce9a6;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;
  --color-success-800: #05603a;
  --color-success-900: #054f31;

  /* Spaces */
  --space-0: 0;
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-8: 2rem;
  --space-10: 2.5rem;
  --space-12: 3rem;
  --space-16: 4rem;
  --space-20: 5rem;
  --space-24: 6rem;

  /* Sizes */
  --size-header-height: 4rem;

  /* Breakpoints */
  --breakpoint-desktop: 64em;

  /* zIndex */
  --zindex-header: 1000;

  /* Fonts */

  /* Text */
  --font-text-xs-regular: 400 0.75rem/1.125rem Inter, Sans-Serif;
  --font-text-xs-medium: 500 0.75rem/1.125rem Inter, Sans-Serif;
  --font-text-xs-semibold: 600 0.75rem/1.125rem Inter, Sans-Serif;

  --font-text-sm-regular: 400 0.875rem/1.25rem Inter, Sans-Serif;
  --font-text-sm-medium: 500 0.875rem/1.25rem Inter, Sans-Serif;
  --font-text-sm-semibold: 600 0.875rem/1.25rem Inter, Sans-Serif;

  --font-text-md-regular: 400 1rem/1.5rem Inter, Sans-Serif;
  --font-text-md-medium: 500 1rem/1.5rem Inter, Sans-Serif;
  --font-text-md-semibold: 600 1rem/1.5rem Inter, Sans-Serif;

  /* Display */
  --font-display-sm-regular: 400 1.875rem/2.375rem Inter, Sans-Serif;
  --font-display-sm-medium: 500 1.875rem/2.375rem Inter, Sans-Serif;
  --font-display-sm-semibold: 600 1.875rem/2.375rem Inter, Sans-Serif;

  --font-display-md-regular: 400 2.25rem/2.75rem Inter, Sans-Serif;
  --font-display-md-medium: 500 2.25rem/2.75rem Inter, Sans-Serif;
  --font-display-md-semibold: 600 2.25rem/2.75rem Inter, Sans-Serif;
}

body {
  font-family: Inter, Sans-Serif;
  color: var(--color-gray-900);
}

a {
  color: var(--color-primary-700);
}
